// Define variables
$primaryColor: #3498db;
$TextColor: #1A1A1A;
$secondaryColor: #2ecc71;
$textColor:#666666;
$bodyColor:rgb(25, 25, 25);
$balanceColor: rgb(52, 49, 49);

// Apply styles
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: $bodyColor;
}

h1{
    color: $secondaryColor;
    font-size: 20px;
    font-family: "Playfair Display", serif;
}


h2{
    color:#52AC78;
    font-size: 20px;
    font-family: "Playfair Display ", serif;
}

.totalBalance{
    max-width: 600px;
    margin: auto;
    background-color: $textColor;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


form {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

input[type="number"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button[type="submit"] {
    display: block;
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: $secondaryColor;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: darken($secondaryColor, 10%);
}


p{
    color: $textColor;
    font-size: 16px;
    font-family: "Hind", sans-serif;
    font-weight: 300;
    font-style: normal;
}
